body {
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  .container {
    height: 50px;
    padding: 40px;
    background-color: #fff;
    border-radius: 4px;
  }
  
  .container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .container hr {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ccc;
  }

 .container2{
    display: flex;
 }
 .container2 hr {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ccc;
  }
.container2 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    padding : 30px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  }

  .container2 h3{
    padding-bottom: 45px;
    color: #555;
  }

  .radiobox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 button[type="button"] {
    margin: 0 auto;
    width: 60%;
    padding: 19px;
    background-color: #272727;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .container2 button[type="button"]:hover {
    background-color: #000;
  }

  .radio{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

  }
  label {
    padding: 2px 44px;
  }
  
  span {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  [type="radio"] {
    vertical-align: middle;
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
  }
  
  [type="radio"]:checked {
    border: 0.4em solid #272727;
  }
  
  [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted #272727;
  }
  
  [type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
  }
  
  [type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }