@charset "UTF-8";
/* --라이브러리-- */
/* 스크롤 */
.style-2::-webkit-scrollbar-track
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  border-radius:10px;
  background-color: #ffffff;
}

.style-2::-webkit-scrollbar
{
  width: 4px; 
  background-color: #ffffff;
}

.style-2::-webkit-scrollbar-thumb
{
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
  background-color: #cdcdcd;
}
/* home공통 */
.hidden{
    display: none;
}
a{
	text-decoration: none;
	color:black;
}

/* --메인-- */
section{
    margin-right: 300px;
    display: flex;;
}
.main_section{
    box-sizing: border-box;
    position: relative;
    /* border: 1px solid rgb(48, 100, 205); */
    /* background-color: palegoldenrod; */
    width: 1210px;
    margin: 0 auto;
    padding: 30px 20px;
}
.diary_visit_wrap{
    position: relative;
    /* border: 1px solid red; */
    height: 240px;
    margin-bottom: 20px;
}
.preview_list_wrap{
    position: absolute;
    width: 550px;
    height: 100%;
    display: inline-block;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(169, 169, 169);
}
.diary_box{
    left: 0;
}
.box_title{
    /* border: 1px solid yellow; */
    height: 30px;
    line-height: 30px;
    border-left: 3px solid black;
    padding-left: 15px;
    margin-top: 10px;
}
.preview_list{
    padding-left:40px;;
}
.preview_list li{
    position: relative;
    margin: 10px 0;
}
.list_nick{
    position: absolute;
    right: 15px;
}
.visit_box{
    right: 0;;
}
.gallery_img_wrap{
    /* background-color: green; */
    height: 460px;
    position: relative;
    box-sizing: 1px 1px solid;
}
.gallery_back{
    height: 460px;
    position: absolute;
}
.back{
    width: 230px;
    height: 230px;
    display: inline-block;
}
.back:nth-child(2n-1){
    background-color:#d9d9d9;
}
.back:nth-child(2n){
    background-color:#f8f8f8;
}
.gallery_img_box{
    position: relative;
    /* background-color: blue; */
    box-shadow: 1px 1px 10px rgb(169, 169, 169);
}
.gallery_img_box img{
    position: relative;
    width: 230px;
    height: 230px;
}


/* --프로필-- */
.home_profile_side{
    width: 300px;
    position: absolute;
    right: 0;
    height: 89.7vh;
    background-color: #f1f1f1;
}
.home_profile_side_wrap{
    position: relative;
    width: 250px;
    margin: 0 auto;
    height: 96%;
}
.today_wrap{
    margin: 15px 0;
    height: 70px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}
.today,.total{
    /* border: 1px solid yellow; */
    width: 100px;
    text-align: center;
}
.num{
    font-size: 20px;
    font-weight: 600;
}
.today div:nth-child(2),.total div:nth-child(2){
    font-size: 12px;
}
.home_profile_info_wrap{
    position: relative;
    margin: 0 auto;
    height: 400px;
    border-radius: 3px;
}
.home_profile_img{
    width: 250px;
    height: 250px;
}
.home_profile_img img{
    width: 100%;
    height: 100%;
}
.home_profile_text_wrap{
	box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding: 10px;
    margin-top: 10px;
    height: 120px;
    width: 250px;
    background-color: #d9d9d9;
    border-radius: 3px;
}
.edit_button{
    width: 40px;
    height: 25px;
    position: absolute;
    right: 0;
    bottom: 10px;
    border: 0;
    font-size: 20px;
    background-color: #d9d9d9;
    cursor: pointer;
}
.edit_msg{
    width: 250px;
    height: 80px;
    resize: none;
    bottom: 40px;
    font-size: 16px;
    display: none;
}
.wave_wrap{
    margin-top:15px;
    height: 40px;
    background-color: #d9d9d9;
}
.send_friend{
    width: 100%;
    margin-top: 10px;
    height: 40px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.send_friend:hover{
    background-color: black;
}
.preview_wrap{
    /* border: 1px solid red; */
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: #d9d9d9;;
    height: 170px;
    margin-top: 88px;
    border-radius: 3px;
}
.preview{
    position: relative;
    text-align: center;
    display: inline-block;
    width: 50%;
    height: 50%;
    position: absolute;
}
.preview_diary{
    left: 0;
    top: 0;
    /* background-color: khaki; */
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.preview_gallery{
    right: 0;
    top: 0;
    border-bottom: 1px solid black;
    /* background-color: aqua; */
}
.preview_friends{
    left: 0;
    bottom: 0;
    border-right: 1px solid black;
    /* background-color: rgb(124, 178, 54); */
}
.preview_visit{
    right: 0;
    bottom: 0;
    /* background-color: rgb(161, 180, 135); */
}
.preview_icon{
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 35%;
}
/* 필요하면 수정해서 사용해주세요 new 알림*/
.preview_friends::before{
    content: "N";font-size:5px;background-color: red;color: white; padding: 5px;
    position: absolute;left: 10px;top: 10px;font-weight: 600;
}
.preview_content{
    position: absolute;
    right: 10%;
    top: 27%;
}
.preview_content div:nth-child(1){
    font-size: 20px;
    font-weight: 600px;
}
.preview_content div:nth-child(2){
    font-size: 13px;
}


