<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.cy.FriendsMapper">

	<select id="getMemberId" resultType="String">
		select m_id from cy_member where m_id = #{id}
	</select>

    <select id="getRecieve" resultType="Friends">
        select f.f_num, h.h_pic, m.m_id, m.m_nick
		from cy_member m
		join cy_home h
		on m.m_id=h.m_id
		join cy_friends f
		on f.recieve_id = m.m_id
		where f.send_id=#{m_id} and f.accept=1
    </select>
    
    <select id="getSend" resultType="Friends">
        select f.f_num, h.h_pic, m.m_id, m.m_nick
		from cy_member m
		join cy_home h
		on m.m_id=h.m_id
		join cy_friends f
		on f.send_id = m.m_id
		where f.recieve_id=#{m_id} and f.accept=1
    </select>
    
    <delete id="delete" parameterType="int">
        delete from cy_friends where f_num=#{f_num}
    </delete>
    
</mapper>