<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.visitMapper">
    
<!--     <select id="count" resultType="int">
        SELECT count(*) FROM test112
    </select>
    
    <select id="selectAll" resultType="Member">
        SELECT *
        FROM test112        
    </select>
     
     <insert id="insert" parameterType="Member">
      INSERT INTO test112
          (id, pwd, name)
      VALUES
          (#{id}, #{pwd}, #{name})
    </insert>
  
    
     <update id="update" parameterType="Member">
        UPDATE test112
        SET   name = #{name} ,
              email= #{email)     
        WHERE id = #{id}
    </update>
    
     <delete id="deleteAll">
        DELETE FROM test112
    </delete>


    <delete id="delete" parameterType="String">
        DELETE FROM test112  WHERE id = #{id} 
    </delete> -->
    
    <select id="selectOne" resultType="visit">
    	select m_nick, h_pic
		from cy_member m
		join cy_home h
		on m.m_id = h.m_id
		where m.m_id = #{id}
    </select>
    
    <select id="selectVisit" resultType="visit">
    	select m.m_nick, h.h_pic, v.v_num, v.v_text, to_char(v.v_time,'yyyy-mm-dd hh24:mi:ss') as v_time, v.host_id as v_hostId, v.guest_id as v_guestId
		from cy_visit v
		join cy_member m
		on v.guest_id = m.m_id
		join cy_home h
		on h.m_id = m.m_id
		order by v_num desc
    </select>
    
    <select id="findMemberId" resultType="String">
        select m_id from cy_member where m_id = #{id}
    </select>
    
    <insert id="visitInsert" parameterType="visit">
    	insert into cy_visit
    		(v_num,v_text,v_time,host_id,guest_id) 
    	values
    		(SEQ_cy_visit_v_num.nextval,#{v_text},systimestamp at time zone 'Asia/Seoul',#{v_hostId},#{v_guestId})
    </insert>
    
   <update id="update" parameterType="visit">
        update cy_visit
        set	v_text = #{v_text},
        	v_time = #{v_time},
        	host_id = #{v_hostId},
        	guest_id = #{v_guestId} 
        where v_num = #{v_num}
    </update>
    
    <delete id="delete" parameterType="String">
        delete from cy_visit where v_num = #{v_num} 
    </delete>
    
</mapper>